<% form_tag posts_path, :method => :get do %>
<table>
    <tr><td>Simple:</td><td><input type="text" name="search_by_simple"></td></tr>
    <tr><td>Less Simple:</td><td><input type="text" name="search_by_less_simple"></td></tr>
    <tr><td>Scoped Search Gem:</td><td><input type="text" name="search_by_scoped_search_gem"></td></tr>
    <tr><td>Sphinx:</td><td><input type="text" name="search_by_sphinx"></td></tr>
</table>
<br>
<%= submit_tag 'Search' %>
<% end %>

<h1>Listing posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Published</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%=h post.title %></td>
    <td><%=h post.body %></td>
    <td><%=h post.published %></td>
    <td><%= link_to 'Show', post_path(post) %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post_path(post), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New post', new_post_path %>