<% form_tag posts_path, :method => :get do %>
  <table>
    <tr><td>Simple:</td><td><input type="text" name="search_by_simple"></td></tr>
    <tr><td>Less Simple:</td><td><input type="text" name="search_by_less_simple"></td></tr>
    <tr><td>Scoped Search Gem:</td><td><input type="text" name="search_by_scoped_search_gem"></td></tr>
    <tr><td>Sphinx:</td><td><input type="text" name="search_by_sphinx"></td></tr>
  </table>
  <p>
    <%= submit_tag 'Search' %>
  </p>
<% end %>

<hr>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Published</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%=h post.title %></td>
      <td><%=h post.body %></td>
      <td><%=h post.published %></td>
    </tr>
  <% end %>
</table>

<p> 
  <%= will_paginate @posts if @posts.respond_to? :total_pages %>
</p>
